/* HTML Reset --- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

/* Styles --- */
/* Top Console */
#topConsole {
	width: 40%;
	height: 200px;
	background-color: #38A1F3;
	position: absolute;
	z-index: 100;
	margin-left: 50%;
	transform: translateX(-50%); 
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#logo {
	border: 2px solid black;
	width: 300px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.consoleTop {
	display: flex;
	flex-direction: row;
}

.consoleTop p{
	width:200px;
	text-align: center;
}

#startSelect {
	width: 200px;
	margin-bottom: 20px;
}

#endSelect {
	width: 200px;
	margin-bottom: 20px;
}

/* Show Buttons */
#showButtons {
	width: 100%;
	height: 100vh;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	padding: 50px;
}

.showButtonIndiv {
	font-size: 25px;
}

.showButtonCon {
	width: 30px;
	height: 30px;
	border: 2px solid black;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 50;
}

.showButtonCon:hover {
	cursor: pointer;
}

#showButtonLeft {
	/*animation-name: show;*/
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	animation-delay: .75s;
	opacity: 0 !important;
}

#showButtonRight {
	/*animation-name: show;*/
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	animation-delay: .75s;
	opacity: 0 !important;
}


#mainDiv {
	display: flex;
	flex-direction: row;
}

#personA {
	height: 100vh;
	flex: 15;
	background-color: #657786;
	box-shadow: 0 0 20px rgb(0, 0, 0);
	z-index: 90;
	overflow:hidden;
	
	animation-duration: .75s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.hideButton {
	width: 150px;
	margin-bottom: 20px;
	opacity: 0.5;
}

#map {
    height: 100vh;
    flex: 70;
}

#personB {
	height: 100vh;
	flex: 15;
	background-color: #657786;
	box-shadow: 0 0 20px rgb(0, 0, 0);
	z-index: 90;
	overflow:hidden;
	
	animation-duration: .75s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


/* Animations --- */
@keyframes hide {
	0% {flex: 15;}
	100% {flex:0;}
}

@keyframes hideReverse {
	0% {flex:0;}
	100% {flex: 15;}
}

@keyframes show {
	0% {opacity: 0;}
	100% {opacity:.5;}
}

@keyframes showReverse {
	0% {opacity: 0.5;}
	100% {opacity:0;}
}